<!doctype html>
<html ng-app>
<head>
    <script src="vendor/angular.min.js"></script>
    <link rel="stylesheet/less" type="text/css" href="styles.less"/>
    <script src="vendor/less.min.js"></script>
</head>
<body>
<section class="stoich-section stoich-section_reactants">
    <table class="stoich-section__table">
        <!--this colgroup is a must to make the table static-->
        <colgroup>
            <col class="cell-fixed-component">
            <col class="cell-limit">
            <col class="cell-formula">
            <col class="cell-mw">
            <col class="cell-equiv">
            <col class="cell-mass">
            <col class="cell-volume">
            <col class="cell-purity">
            <col class="cell-quantifier">
            <col class="cell-n">
            <col class="cell-comment">
        </colgroup>
        <thead>
        <tr>
            <td class="cell-fixed-component">Reactants
                <button class="btn btn-clean right">
                    <i class="icon icon-plus"></i>
                    Add new
                </button>
            </td>
            <td class="cell-limit">Limit</td>
            <td class="cell-formula">Formula</td>
            <td class="cell-mw">MW <em>(g/mol)</em></td>
            <td class="cell-equiv">Equiv.
                <button class="icon icon-lock_closed"></button>
            </td>
            <td class="cell-mass">Mass</td>
            <td class="cell-volume">Volume</td>
            <td class="cell-purity">Purity <em>(%)</em></td>
            <td class="cell-quantifier">Quantifier</td>
            <td class="cell-n">n</td>
            <td class="cell-comment">Comment</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="cell-fixed-component">
                <div class="wrapper-flexible">
                    <button class="btn btn-framed btn-framed-no-text btn-info flex-left">
                        <i class="icon-stack icon-stack-fw">
                            <i class="icon icon-fw icon-stack-2x icon-info-letter"></i>
                            <i class="icon icon-fw icon-stack-2x icon-empty"></i>
                        </i>
                    </button>
                    <div class="table-padded-content"><strong>(R1)</strong> Potassium hydroxide</div>
                    <button class="btn btn-framed btn-framed-no-text btn-options flex-right">
                        <i class="icon icon-options"></i>
                    </button>
                </div>
            </td>
            <td class="cell-limit">
                <button class="btn-rounded" ng-click="potHasLimit = !potHasLimit">
                    <i ng-if="potHasLimit" class="icon icon-tick"></i>
                </button>
            </td>
            <td class="cell-formula">
                <div class="table-padded-content">KOH</div>
            </td>
            <td class="cell-mw">
                <div class="table-padded-content">56.106</div>
            </td>
            <td class="cell-equiv">
                <div class="table-padded-content">1</div>
            </td>
            <td class="cell-mass">
                <div class="table-padded-content">5.00 g</div>
            </td>
            <td class="cell-volume"></td>
            <td class="cell-purity">
                <div class="table-padded-content">100</div>
            </td>
            <td class="cell-quantifier">
                <div class="table-padded-content">0.25 g/mL</div>
            </td>
            <td class="cell-n">
                <div class="table-padded-content">19.213 mmol</div>
            </td>
            <td class="cell-comment"></td>
        </tr>

        <tr>
            <td class="cell-fixed-component">
                <div class="wrapper-flexible">
                    <button class="btn btn-framed btn-framed-no-text btn-info flex-left">
                        <i class="icon-stack icon-stack-fw">
                            <i class="icon icon-fw icon-stack-2x icon-info-letter"></i>
                            <i class="icon icon-fw icon-stack-2x icon-empty"></i>
                        </i>
                    </button>
                    <div class="table-padded-content"><strong>(R2)</strong> Hydrochloric acid</div>
                    <button class="btn btn-framed btn-framed-no-text btn-options flex-right">
                        <i class="icon icon-options"></i>
                    </button>
                </div>
            </td>
            <td class="cell-limit">
                <button class="btn-rounded" ng-click="hydHasLimit = !hydHasLimit">
                    <i ng-if="hydHasLimit" class="icon icon-tick"></i>
               </button>
            </td>
            <td class="cell-formula">
                <div class="table-padded-content">HCl</div>
            </td>
            <td class="cell-mw">
                <div class="table-padded-content">36.461</div>
            </td>
            <td class="cell-equiv">
                <div class="table-padded-content">1</div>
            </td>
            <td class="cell-mass">
                <div class="table-padded-content">3.249 g</div>
            </td>
            <td class="cell-volume"></td>
            <td class="cell-purity">
                <div class="table-padded-content">100</div>
            </td>
            <td class="cell-quantifier">
                <div class="table-padded-content">0.25 g/mL</div>
            </td>
            <td class="cell-n">
                <div class="table-padded-content">31.1 mmol</div>
            </td>
            <td class="cell-comment">This is a comment, not very large, but anyway</td>
        </tr>

        </tbody>
    </table>
</section>

<section class="stoich-section stoich-section_agents">
    <table class="stoich-section__table">
        <thead>
        <tr>
            <td class="width-fixed-component">Agents
                <button class="btn btn-clean right">
                    <i class="icon icon-plus"></i>
                    Add new
                </button>
            </td>
            <td></td>
        </tr>
        </thead>
    </table>
</section>


<section class="stoich-section stoich-section_products">
    <table class="stoich-section__table">
        <thead>
        <tr>
            <td class="width-fixed-component">Products
                <button class="btn btn-clean right">
                    <i class="icon icon-plus"></i>
                    Add new
                </button>
            </td>
            <td></td>
        </tr>
        </thead>
    </table>
</section>
</body>
</html>