<span uib-dropdown dropdown-append-to-body on-toggle="vm.toggled(open)" class="view-element"
      buttons="no"
      editable-text="componentData.value"
      e-class="in-line-editable"
      e-ng-focus="vm.setBehavior($form)">
    <span class="editable-dropdown value-container" uib-dropdown-toggle>
        {{componentData.value || ''}} {{componentData.value ? vm.unit : ''}}
    </span>
    <ul uib-dropdown-menu>
        <li ng-repeat="choice in componentData.units">
            <a href ng-click="vm.setUnit(choice)">{{choice}}</a>
        </li>
    </ul>
</span>